[2013-05-10 13:24] aliostad opened #5 "Async code needs tidying up"

[2013-05-10 13:24] aliostad opened #6 "Unit tests lacking"

[2013-07-24 08:35] kkbruce opened #8 "Version 0.1.5.0 can't run in Windows 8"
Hi,

I download sb.exe from NuGet, but run test will throw execpt.
I had install .NET Framework 4.5.

Error Message:

E:\Demo\packages\SuperBenchmarker.0.1.5.0\lib>sb -u http://google.com

未處理的例外狀況: System.IO.FileNotFoundException: 無法載入檔案或組件 'CommandLi
ne, Version=1.9.71.2, Culture=neutral, PublicKeyToken=de6f01bd326f8c32' 或其相依
性的其中之一。 系統找不到指定的檔案。
   於 SuperBenchmarker.Program.Main(String[] args)

[2015-01-06 21:02] aliostad commented on #8
This for some reasons still showing open. CLosing.

[2015-01-06 21:02] #8 closed

[2015-01-06 21:04] aliostad opened #12 "Allow an option for delay"
Currently no way to *reduce* throughput. Even using -c 1 still hammers the server. We need delay option.

[2015-01-06 21:05] aliostad opened #13 "Option -h prints in Dark Red which is not readable"

[2015-01-06 21:07] aliostad commented on #13
Fixed

[2015-01-06 21:07] #13 closed

[2015-01-06 21:07] aliostad commented on #12
Option -y was added for this purpose - taking milliseconds.

[2015-01-06 21:07] #12 closed

[2015-06-30 06:01] micros-uz opened #15 "Gives the same status code (303) for any url"
Any given url produces the same output with the same status code - 303

http://pastexen.com/i/rFXP6wWj7b.png
http://pastexen.com/i/4QxvYs3Vl2.png
http://pastexen.com/i/KU8uuXITsr.png

[2015-06-30 09:05] aliostad commented on #15
I have just done this and it works.

![image](https://cloud.githubusercontent.com/assets/487334/8427465/8669a8f2-1f0f-11e5-92af-6cab592ae2d7.png)

[2015-06-30 09:10] aliostad commented on #15
Your URL needs to be well-formatted, i.e. starting with http://

Can you try http://google.com?

[2015-06-30 09:26] micros-uz commented on #15
Tried - http://pastexen.com/i/JpUYw9GOhi.png
May be your idea about proxy is correct, will check

[2015-06-30 09:26] #15 closed

[2016-05-02 01:14] EugeneBichel opened #16 "https protocol for secure communication is not supported"
I have tried to send request using https and if I do not using proxy as Fiddler, then I receive 303 Http code response. Can you please add availability of secure communication using HTTPS?

[2016-05-02 11:54] aliostad commented on #16
Hi,

Thanks for using it. It definitely works with HTTPS, I have tried - is it because it is a self-signed?

[2016-05-02 12:01] EugeneBichel commented on #16
Hi, maybe you are right. I have tried SuperBenchmark in my test environment with own SSL certificate and it does not work. When I made some changes in your source code on my local machine like 'ServicePointManager.ServerCertificateValidationCallback = delegate{return true;}' , then it started to work.

[2016-05-02 13:10] aliostad commented on #16
OK, it seems like I need to issue a fix for this kind of option. The problem is I have ran out of alphabet characters for command line options, so not sure what I can do now...

[2016-06-27 19:26] sgarg7 opened #17 "Issues working with json in csv file"
To store a json in csv, I have to surround it with double quotes `"<json>"` (since it has a comma inside it), **and** escape each double quote inside the json with another double quote
`"{""name"": ""Alice"", ""age"": 123 }"`.

But while reading the values from the csv, the program does not unescape anything. It sends the outside **and** inside double quotes as is in the request. This is an issue,

[2016-06-28 09:14] aliostad commented on #17
Hi,

The CSV reading is a simple one and not meant for such complex statements. Also CSV escaping has never been great.

If you have a need for complex parameters, I suggest you build a simple plugin which is supported: implement `IValueProvider` by referencing the exe and build the lib and use -p <dll path> when you are running it.

[2016-06-28 14:07] sgarg7 commented on #17
@aliostad Could this be categorized as a bug/enhancement request instead of as question and kept open so users know about it or are able to contribute to fixing it? I think it could be a simple solution of removing the left and right double quotes then replacing two double quotes with one.

Also it was after some effort that I figured out that json in CSV didn't work, which would be a common use c

[2016-06-28 14:27] aliostad commented on #17
Yeah makes sense. I am re-opening the issue. But I still suggest CSV probably not the tool here.

[2016-06-29 10:35] aliostad commented on #16
Fixed with 1.2.

[2016-06-29 10:35] #16 closed

[2017-04-17 09:47] #5 closed

[2017-04-21 07:41] aliostad opened #19 "Pressing any key stops the program and not just 'C'"

[2017-04-21 07:42] aliostad opened #20 "In DryRun mode, program carries running many requests"

[2017-04-21 07:42] aliostad opened #21 "Q parameter does not work"

[2017-04-21 07:43] aliostad opened #22 "There is no way to print request content in case of PUT/POST"

[2017-04-23 13:21] #19 closed

[2017-04-23 13:21] #22 closed

[2017-04-23 13:21] #21 closed

[2017-04-23 13:21] #20 closed

[2017-07-23 12:16] JPtenBerge opened #24 "Content-Type in template is ignored"
FIrst off, really like this project, would've been great for me to use if not for this tiny annoying bug. My `Content-Type` header is ignored. I have this template:

	User-Agent: WhateverValueIWant
	Content-Type: application/json
	Accept: application/json
	Custom-Header: nice

	{"some":26663,"data":15"}

And I run SB using this command:

	.\sb.exe -u http://localhost:54358/api/stuff/14/whataver-m

[2017-07-23 12:42] aliostad commented on #24
Thanks a lot for reporting it. I will look into it today and get back to you.

[2017-07-23 13:00] JPtenBerge commented on #24
Awesome, thanks.

[2017-07-23 14:56] aliostad commented on #24
OK this is fixed. If you use chocolatey, please use `-pre` to update to 2.3.

[2017-07-23 14:56] #24 closed

[2017-07-29 11:16] johnib opened #25 "feature request - allow setting headers"

[2017-07-29 12:24] aliostad commented on #25
Hi, this is already possible by using a template file (using -t). You can also provide body if you want: similar to HTTP you need a blank line between headers and body.

[2017-07-29 12:26] aliostad commented on #25
Look at issue #24 for an example.

[2017-07-29 12:26] #25 closed

[2017-08-04 05:24] PureKrome opened #26 "Request: Replaying log files while respecting replay times"
Hi 👋

Ok - this idea will make you famous. Awesome famous!

So, we would like to replay our weblogs. BUT .. the kicker is .. replay them in the same TIMESPAN's as they occurred ... instead of just in the order they occurred or a hard, fixed concurrently+ordered.

for example.

`sb -u http://localhost:8888/{{{querystring}}} -ft timed_routes.csv`

☝️ notice how I have _not_ included any `-n` or `-c`

[2017-08-04 08:53] aliostad commented on #26
Hi @PureKrome

Thanks for this. It is an interesting feature. Let me have a think since this requires a radically different requester engine. But I reckon should be possible.

Having said that, please bear in mind that the tool is meant for replicating extreme conditions. As such, any effort to adhere to any timeline cannot guarantee the result since the behaviour is dependent on the performance o

[2017-08-04 13:23] PureKrome commented on #26
yep - totally agree with that and I was thinking it would be a 'best attempt'. so if the server was taking too long, I'm _assuming_ the server would end up queuing the requests as it can't attend to them all. And that the `.exe` client will have to keep catching up by keep churning through requests. So yeah - it would be near impossible to replicate exactly ... so it's a good attempt.

yeah - i wa

[2017-08-05 10:16] aliostad commented on #26
Sounds good. I might have a stab at it next week.

[2017-08-08 23:17] PureKrome commented on #26
Oh wow! this is awesome work @aliostad

Questions:

I don't understand what this means. :( Maybe `-c` should be disabled (ignored or throw an explicit error) when `-e` is provided? This way, you _only_ can use the number of requests per timestamp. After all, we are trying to replay a log file with real request-examples....

What happens if we do *not* provide a value for `-n` ? Do we just replay t

[2017-08-09 07:16] aliostad commented on #26
Concurrency is number of virtual users. If at time *t* you have 3 requests, with `-c 1` it sends this requests one after another while if you use `-c 3` every virtual user picks one request and they are sent concurrently. My point about producing similar results was that even when I had higher concurrency, it still respected the timing - which is good.

`-c` is still very useful when `-e is provid

[2017-08-09 07:48] PureKrome commented on #26
Ok - so lets see if I understand this 😊

So if at time _t_ it has 10 requests then by definition, the log file is actually saying to me: "_at this point in time, I actually had 10 requests hit me, at the same (point in) time_"

which in effect is `-c 10` for _that point of time_.

So, if I have `-c 2` then it will actually only fire off 2 requests at the point of time which isn't really doing what

[2017-08-11 15:39] aliostad commented on #26
Where did you go?! You came asking for a feature, I turned it round so quickly, be kind enough to respond to your issue.

[2017-08-11 22:08] PureKrome commented on #26
Hi @aliostad - sorry, I'm on holiday's right now will be back at the end of this weekend.

Note: I didn't expect the idea to take traction nor be turned around so quickly if accepted. So my silence doesn't mean I'm being rude. Just a case of RL > code, etc. I do appreciate your efforts, from one OSS contrib to another.

[2017-08-13 07:48] aliostad commented on #26
No it is cool. I felt perhaps you were somehow disappointed by the way feature was implemented.

[2017-08-14 00:09] PureKrome commented on #26
Ha dude - awesome :)

works nicely!!!!

If I could ask for something extra (yes, I'm pushing my luck now) ... would be awesome to see how long before the next items will be fired off. e.g. Next request is in 28 secs.... If time was

01-01-2000 12:10
01-01-2000 12:38

for example....

but yeah! it's awesome :)

[2017-08-14 08:56] aliostad commented on #26
It already - kinda - does that and shows the delay it introduces. But if `-c` is more than 1, the console output gets corrupted so it only does it when `-c` is 1.

Can you please try and see if it is OK?

[2017-08-14 13:31] PureKrome commented on #26
Ah! i had `-c 20 or 30 or something. I'll def try it out tomorrow at work :)

nice!

[2017-08-14 14:33] aliostad commented on #26
Cool! Lemme know.

[2017-08-16 06:14] PureKrome commented on #26
oh kewl! nice! it's got the `ms` time now there. Perfect! Thank you dearly!!!

[2017-08-16 09:07] aliostad commented on #26
AWESOMES!!!! So happy for me to close the issue?

[2017-08-16 13:27] PureKrome commented on #26
I'll do it - and thank you again!

[2017-08-16 13:27] #26 closed

[2017-08-18 01:04] RPM1984 opened #27 "Help with 'plugin' option"
Hi @aliostad

Firstly, awesome library...love it! 👏

I'm trying to get the `-p` plugin option working, and not having much luck. I'm just wanting to send a bunch of `POST` requests with different JSON payloads.

### What i did
1. Created a new .NET 4.7 class library
2. Installed this NuGet package
3. Created a class like this:
[code]
4. Built the class library
5. Opened up command line, went to th

[2017-08-18 07:22] aliostad commented on #27
Hi, thanks for the kind words!

First of all, plugin library will implement the interface which will - as you done - return a dictionary of objects (mainly primitive types such as DateTime, string, int, etc) with string keys to replace placeholders.

Let's say you want to send this request to your API:

[code]
where `fooValue` is an integer and `varValue` is a double. You would implement:

[code]

[2017-08-18 07:29] aliostad commented on #27
Oh, I think I got what you mean. The sb from nuget package is meant just as the library not the runner. You need to get the runner from chocolatey or download from nuget from the Download folder of this project - that has ilmerge of everything and is 4MB.

[2017-08-22 06:12] RPM1984 commented on #27
Hi @aliostad , sorry for radio silence...getting slammed at work 😞

Ah, i see the problem...i was running the `sb.exe` from the folder in my plugin `bin` directory, whereas i should have been running it from the global level, and absolute referencing the plugin.dll. I got it now...

So now my next question, clarifying what you have above: if i understand correctly will substitute the `fooValue` an

[2017-08-22 07:44] aliostad commented on #27
Parameterising body is exactly the same, just remember to include `-b` parameter so **sb** replaces your placeholders.

So your template file would look like:

[code]

And in your class:

[code]

And then run

[code]

[2017-08-23 00:58] RPM1984 commented on #27
Awesome, i got it...just had to make sure i was referencing the plugin DLL via absolute.

Thanks again @aliostad ! 😃

[2017-08-23 00:58] #27 closed

[2017-08-23 01:31] RPM1984 commented on #27
Hey @aliostad sorry one final question.. 😊

How can i use the `-f` (CSV) option in conjuction with the template file?

I see you've got an example on the README:
[code]

Does the `-f` option only apply to the URL?

What i'm wondering, is what if i wanted to test say _3 sets of endpoints_, using the plugin technique above? From the looks of it, i would have to create 3 seperate plugin DLL's, and 3

[2017-08-23 09:27] aliostad commented on #27
Yes you can, `-f` applies to URL, headers and body. **But do not forget to include `-b` to parameterise body.**

Not supported and cannot see ever being supported due to its complexity.

[2017-08-25 00:28] RPM1984 commented on #27
Ah got it... thanks!

[2017-09-20 04:40] MertSenel opened #29 "Doesnt Work with TLS 1.2"
We use Cloudflare Modern TLS option which basically only offers TLS 1.2 and TLS 1.3 ciphers.
This setting breaks this tool as .NET fails to establish the TLS connection.

Enabling TLS 1.0 resolves this issue. Would love it if you can implement a tls switch like Curl

Below is error log I get with -verbose switch

`System.Net.Http.HttpRequestException: An error occurred while sending the request. -

[2017-09-20 08:11] aliostad commented on #29
Hi,

Can you please provide an endpoint so I can test it with?
If endpoint is not supposed to be public email me => aliostad at gmail com

Cheers
Ali

[2017-09-21 00:39] MertSenel commented on #29
Hi,

I cant provide you with my endpoint but paypal has a public test endpoint just for this purpose.

https://tlstest.paypal.com/

Detailed info on this public test endpoint: https://www.paypal.com/au/webapps/mpp/tls-http-upgrade

It is only offering TLS 1.2 ciphers.
![image](https://user-images.githubusercontent.com/32119844/30673772-d38663f2-9eb8-11e7-9660-693e27bf7a77.png)

I've double checked

[2017-09-21 13:46] aliostad commented on #29
Hi,

this is now done with version 2.5.0, you can update using chocolatey:

You can now specify TLS version using `-g` option:

[2017-09-21 13:46] #29 closed

[2017-09-21 13:48] MertSenel commented on #29
Thanks much appreciated will test tomorrow and update this comment.

[2017-12-28 14:01] aliostad opened #30 "Delay does not work anymore"

[2017-12-28 14:56] aliostad commented on #30
Fixed

[2017-12-28 14:56] #30 closed

[2018-01-26 19:08] aliostad opened #31 "Wrong milli when logging"

[2018-01-26 19:09] aliostad opened #32 "Wrong logging when using RandomValueProvider"

[2018-01-26 19:20] #32 closed

[2018-01-26 19:20] #31 closed

[2018-02-03 12:06] aliostad opened #33 "Copy paste error in -g, --timedField"

[2018-02-06 15:16] aliostad commented on #33
fixed with v3.3.0

[2018-02-06 15:16] #33 closed

[2018-02-08 09:34] aliostad opened #35 "Using warmup results in under-reporting the TPS"

[2018-02-08 16:08] #35 closed

[2018-02-08 17:27] aliostad opened #36 "sb errors if there is empty entry in tab separated files files -f"

[2018-02-09 10:27] #36 closed

[2018-02-09 10:29] aliostad opened #37 "Show TPS while running the tests"

[2018-02-09 11:31] #37 closed

[2018-02-17 14:15] aliostad opened #39 "--jsonCount does not capture count at the root"

[2018-02-17 16:57] #39 closed

[2018-03-02 23:17] alldevic opened #40 "Nuget package have old sb version"

[2018-03-07 23:00] aliostad commented on #40
Nuget package is only meant for plugin development and provides the `IValueProvider` interface hence does not need the new versions (this interface has not changed).

Do you experience a problem?

[2018-03-07 23:02] aliostad commented on #6
Some unit tests been added

[2018-03-07 23:02] #6 closed

[2018-04-06 10:12] #40 closed

[2018-04-26 13:48] aliostad opened #45 "Version regressed to 1.0 after x-plat support"

[2018-04-26 15:56] #45 closed

[2018-04-26 18:26] aliostad opened #46 "-j option cannot capture the count if array is at the root since CommandLine does not accept empty string"

[2018-04-26 18:34] #46 closed

[2018-05-01 22:17] RPM1984 opened #47 "Swagger support"
Hi @aliostad! :wave:

Firstly, awesome job with the new updates! :clap:

I had a thought...

Often I create APIs with swagger metadata (ie `swagger.json`), and want to do some quick load tests.

Since the API info is already there in the swagger file, would be great if I could run superbenchmarker against that metadata to dynamically gather request info and execute the load test, instead of manual

[2018-05-02 07:50] aliostad commented on #47
Hi @RPM1984

Thanks for the kind words. So answers:

 - Yes, I think it can be useful. It sure is for some, you including.
 - sb has semantics for random generation for parameters, but that is the easy bit. Essentially a swagger defines several endpoints and for the same test to run all of them will probably not be possible. So you can have -W 1 parameter to run the second (0-based index) endpoint

[2018-05-02 08:49] RPM1984 commented on #47
Hey @aliostad, thanks for the quick reply.

Yep - totally agree on what you've said. That said, this was more intended for initial/early runs on _new_ APIs, where we don't actually have any existing metrics as input to the test.

Essentially 'early detection' to provide some guarantees the new API meets a 'minimum' performance standard.

But you're right. I think it's more effort than it's worth.

[2018-05-02 13:53] aliostad commented on #47
Yes, that is - as you said - a lot of work. If you changed your mind, let me know.

Thanks for using it!

[2018-05-02 13:53] #47 closed

[2018-05-02 14:20] aliostad opened #48 "Showing browser for short or dry-runs doesn't make sense"

[2018-05-02 14:37] #48 closed

[2018-08-30 06:43] upardhi opened #49 "Dynamic Image Generation API is not working properly"
I am trying to load my image API which is returning the dynamic image

[2018-08-30 08:16] aliostad commented on #49
It is a known issue. I will try to fix it soon - hopefully today.

[2018-08-30 15:21] upardhi opened #50 "Random String Is not working Properly"
Hi
I am trying to run new parameter in API it gives me an issue

A%22AD%22%2C%22HexValue%22%3A%22%231b2780%22%7D%5D&a={{{RAND_INTEGER:[1:1000000]}}}"   -c "10" -n "20"

[2018-08-30 16:55] aliostad commented on #50
What do you mean? "Gives me an issue"... what kind of issue, what is that URL, looks malformed?? Please open proper issue posting what you are doing, the error you are seeing, etc.

[2018-08-30 17:04] aliostad commented on #49
I cannot see a problem. Provide extra details, the URL you are testing with and the error stack trace.

[2018-08-30 17:04] #49 closed

[2018-08-31 14:35] upardhi opened #51 "Post Request Is Not Working"
Hi,

I am trying to run post request with multiple data but it's not working. Here are the details

E:\SB-Response-Temp>sb -u "http://demo1.x.test.net:3000/initiateBulkUpload" -n "1" -t post.txt

Below is my post data file where I mentioned the content type and space below content type. In data, I am accepting "Data" as a key and JSON as a value in the post request.

**PostMan Call**
![image](http

[2018-08-31 14:43] upardhi commented on #50
While Running the command with random string in URL its throwing Error . If I add any hardcoded string it's working properly

**Not Working**

E:\SB-Response-Temp>sb -u "http://image.t.net:3000/colorizeImage?base_image=cole\base\base.jpg&image1_mask=cole\body\body.png&image1_color=%23756f6f&image2_mask=cole\function_one\left_function.png&image2_color=%23756f6f&image3_mask=cole\function_two\right_f

[2018-09-02 21:02] aliostad commented on #50
The problem is that the field should have a name and start with that. For example

`{{{fieldName:RAND_INTEGER:[1:1000000]}}}`
instead of
`{{{RAND_INTEGER:[1:1000000]}}}`

I noticed that in one place in the documentation it was incorrect for that case and I have changed that bit.

[2018-09-02 21:02] #50 closed

[2018-09-02 21:05] aliostad commented on #51
The problem seems to be not supplying `-m` or method parameter. e.g.:

[code]

[2018-09-02 21:05] #51 closed

[2018-09-03 05:38] upardhi commented on #51
Thanks for quick response @aliostad now its working for me. I have one more question. How can I send separate post data for each request?

Can you please add examples of SB utility because it will help to first time users.

[2018-09-27 10:45] quantuumsnot opened #52 "Writing only sb in console gives an error"

[2018-09-28 15:59] aliostad commented on #52
Yes, it is an issue with the command line library. It is cosmetic.

[2018-09-28 15:59] #52 closed

[2018-09-28 15:59] #17 closed

[2018-10-06 08:44] sicoderealm opened #53 "Issue with reporting on Mac IOS"
hey! very cool tool you guys have put together here - good job!

I've followed the instructions and installed for mac.
However, after successfully running the SuperBenchMarker (it generates all the request) I get a report website automatically opened but the graph is blank
<img width="1102" alt="blank" src="https://user-images.githubusercontent.com/7548210/46569396-4957fa00-c94c-11e8-9536-131f9dd6

[2018-10-06 09:31] aliostad commented on #53
Hi,

It looks like the test took only half a second. Superbenchmarker is really a tool for running a test for many seconds and minutes. The interval of committing the report is every 3 seconds (chart changes every 3 minutes) which you can control using command line parameters and reduce to 1 second if you want.

I do not know the parameters you used but I suggest running the test for longer using

[2018-10-06 10:09] sicoderealm commented on #53
Thank you this is very helpful. I can see results! :) I think I was trying to use similar configuration options that I might use with ab.

If I wanted to generate a large number of requests per second and see the results, which settings might you recommend? I'd like the updates to come per second to match request per second and see the average response time etc. Appreciate your help and great tool

[2018-10-06 14:29] aliostad commented on #53
All of this has been extensively documented and is available on the github readme or running sb with `-h`. Please read it and if you still have a question then get back.

[2018-10-06 14:29] #53 closed

[2018-10-20 17:41] quantuumsnot opened #54 "Can you add 'Latest release' github page for checking latest version"
For example I'm trying to use [scoop](https://github.com/lukesampson/scoop) as package manager under Windows and not having a way to check for current/latest version gives me an error:

Versioning can be based on [SemVer v2.0.0](https://semver.org/spec/v2.0.0.html)

Thank you :)

[2018-10-21 10:56] aliostad commented on #54
Hi, the main method of installation is chocolatey. Is that not OK for you?

[2018-10-21 12:58] quantuumsnot commented on #54
Personally don't like it - it's overal design looks too corporate for me

[2018-10-21 17:42] aliostad commented on #54
I am afraid I will only support chocolatey. It is a community effort which I believe needs to be supported. The extra checks and balances that it does I believe are crucial to ensure no evilware gets installed.

Is there anything else I can help you with?

[2019-02-14 14:58] GuyWicks opened #55 "sb help page changes terminal to grey on osx"
When you run sb without parameters, within an osx terminal, the terminal text colour remains a light grey on white.

When you run sb with parameters (i.e. run a test), the terminal colours are reset to the usual black on white.

Maybe there is a missing "colour reset" sequence missing when the help test is shown... (sorry, not looked the source)

[2019-02-19 16:54] aliostad commented on #55
Hi,

Thanks for your issue. Perhaps a bug, will look into.

[2019-10-31 12:42] tfsjohan opened #56 "System.Net.Http.CurlException: Login denied"
I get this error for each request. Running on macOS.

System.Net.Http.HttpRequestException: An error occurred while sending the request. ---> System.Net.Http.CurlException: Login denied
   at System.Net.Http.CurlHandler.ThrowIfCURLEError(CURLcode error)
   at System.Net.Http.CurlHandler.MultiAgent.FinishRequest(StrongToWeakReference`1 easyWrapper, CURLcode messageResult)
   --- End of inner except

[2019-10-31 15:52] aliostad commented on #56
Thank you.

Can you please describe below:

 - .NET Runtime used
 - URL, is this public URL and so can you share?
 - Auth: Does the API need auth?
 - Is this behind a proxy, etc?

[2019-11-05 15:08] aliostad commented on #56
@tfsjohan can you get back to me on those please?

[2019-11-05 18:20] tfsjohan commented on #56
Hi! Sorry for the late reply. I'm using dotnet 2.1.403.

The url was private yes. It does not require auth, but I need to use custom headers to make it really useful. Don't think I used a proxy no. Think I tried going to a custom port though.

My node server was running in a virtual machine, but I had no problem accessing it using a browser, curl, ab or siege.

[2019-11-05 20:08] aliostad commented on #56
Thank you. So may I ask the command line you are using? I mean passing extra headers, it might have to do with it.

[2019-11-11 13:57] aliostad commented on #56
@tfsjohan can you please share the details I asked? - I believe you are using a template and I have a feeling the template uses LF instead of CRLF.

[2019-11-11 14:36] tfsjohan commented on #56
Don't have the test available anymore, so I don't know. I'm pretty sure I did not use a template. I think I just used command line arguments.

[2019-11-11 15:26] aliostad commented on #56
Command line arguments do not let you pass a header.

If this cannot be recreated I will close it off. Please get back to me if you see it. Thanks!

[2019-11-11 15:26] #56 closed

[2019-11-21 05:17] PureKrome opened #57 "Any thoughts on offering this also as a "dotnet tool" (for XPlat scenarios)"
👋 G'day!

any thoughts on offering this also as a `dotnet tool` so anyone can install it on their machine where .NET Core is installed?

Reference: https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-tool-install

Cheers!

[2019-12-05 14:09] tfsjohan opened #58 "Totally broken och macOS"
Tried this again, but it is totally broken och macOS. It builds and run, reports some data and generates a html file for the report but:

- the -v options gives "System.Net.Http.HttpRequestException: An error occurred while sending the request. ---> System.Net.Http.CurlException: Login denied" errors
- no requests actually makes it to the server (checked my logs)
- report "Status 303: 100" of poss

[2019-12-06 14:17] aliostad commented on #58
Thanks a lot, it seems to be issues with .NET 3.0. I will try to fix ASAP.

[2019-12-06 14:38] tfsjohan commented on #58
I'm using 2.1.403

[2019-12-07 15:45] aliostad commented on #58
It is bizarre - I cannot reproduce. Bear in mind running .NET Core App 2.0

![image](https://user-images.githubusercontent.com/487334/70377118-83ce7580-1908-11ea-8e0f-dd9740ce8a86.png)

[2019-12-07 16:05] aliostad commented on #58
Just tested on .NET Core 3.0 with `-v` and using a template it just works fine.

[2019-12-07 17:29] tfsjohan commented on #58
Ok. I’ll try to use one of these versions.

Tried in Windows and it works fine.

[2019-12-07 19:10] aliostad commented on #58
I have updated the project. Just run `build.sh` and you should have target for netcoreapp 2.0 and 3.0. Both work fine with providing ` -u https://google.com -v -n 1 -t mytemplate.txt`

[2019-12-09 07:20] tfsjohan commented on #58
V3 seems to work a lot better. Thanks!

[2019-12-09 07:24] #58 closed

[2019-12-09 08:36] aliostad commented on #57
Sorry for late response. Yeah this is not a great experience.
I had in mind to set up something in HomeBrew but it looks pretty complicated.

But this look like a good alternative, thank you!

Is this something you would like to be involved in?

[2019-12-09 23:17] PureKrome commented on #57
Sure. Lets see what I can conjure up.

(quietly, in my head....)

![](https://media.giphy.com/media/lXiRG1vwLewnehlxS/giphy.gif)

[2019-12-10 00:43] PureKrome commented on #57
Ok @aliostad - I've forked the project and had a quick look at things and what's the get started.

Good news - it's pretty easy.

Bad news - you'll need to make some decisions about how best to go about this. I'll drop the options for you to decide, here:

###Easy option
- Drop support for .NET Full Framework.
- Target .NET Core app 2.0 and 3.0
- Clean up project (e.g. nuke `.nugets` folder and `i

[2019-12-10 09:00] aliostad commented on #57
Thanks. Well I am not prepared to drop .NET 4.5.2. Let me explore and see if there is a 3rd option.

[2019-12-10 09:47] PureKrome commented on #57
What's holding you to keeping it?

[2019-12-10 10:55] aliostad commented on #57
Yes. For others on Windows there is chocolatey.

[2019-12-11 05:23] PureKrome commented on #57
Ok, so you still wish to_keep choco and offering an additional option of `dotnet tool`?

[2019-12-24 13:08] mtravnicek opened #59 "No responses graphs generated - Windows version"
![Screenshot - 24 12 2019 , 13_55_37](https://user-images.githubusercontent.com/23079541/71414159-e8ead080-2655-11ea-93ad-f4488c045f4b.png)
I am using latest downloaded build. As you can see values are recorded and reported in numbers, but no graphs (NaN) in Chrome or Edge. The whole report is in zip.
[2019-12-23_17-33-26.250833.zip](https://github.com/aliostad/SuperBenchmarker/files/3998318/2019-

[2019-12-27 14:16] aliostad commented on #59
Yes. The issue is the sampling by default is every 3 seconds. This feature is mainly for a long_ish_ running test. The calls to your API was so quick (each call took 1ms or less) it did not get time to dump the json file to the folder.

The solution is to run a longer test or change sampling rate using `-P` parameter.

I am also confused if you are interested in the graph, why you are using -B opt

[2020-01-07 09:05] aliostad commented on #59
I am closing the issue since no response. Please let me know if you still have a question.

[2020-01-07 09:05] #59 closed

[2020-01-07 09:05] aliostad commented on #57
Sorry for the delay, yes that is the idea.

[2020-05-21 07:50] RPM1984 opened #60 "Can't figure out how to POST with parameterised data :("
Hi @aliostad 👋

Struggling to figure out how to do a POST where the payload is supplied in a file.

**branding-post-data.csv**
[code]

(ie each line has an array)

**branding-template.txt**
[code]

So i'm essentially trying to do this:
[code]

Here's what i'm running, and what i'm seeing:

`sb -u "https://localhost:44300/listings/ids/branding" -f branding-post-data.csv -t branding-template.txt -m

[2020-05-21 21:07] aliostad commented on #60
All you need is adding a header to your CSV:

[code]

This how it knows what field it needs to replace. Give it a try and let me know.

[2020-05-23 01:50] RPM1984 commented on #60
@aliostad sorry, i did have that in my file..

Yep - i saw the example above, that's what i based my example on. Wasn't sure if my issue was the URL didn't have anything in the file? I just want to parametize the body.

[2020-05-24 21:30] aliostad commented on #60
One thing I need to warn you against is that if you use Mac/Linux. Bear in mind, according to HTTP specification, lines are separated by CRLF and not LF. I guess that is your problem, no?

[2020-05-24 21:42] RPM1984 commented on #60
@aliostad nope, this is regular windows (PowerShell). I'll keep trying..

[2020-05-24 22:00] aliostad commented on #60
Did you use option `-b`?

[code]

[2020-05-24 22:19] RPM1984 commented on #60
@aliostad yep. Can see command I ran in OP

[2020-05-25 09:46] aliostad commented on #60
It is working for me:

[code]
Here is my some.csv:

[code]

And some.txt:

[code]

Sorry I cannot reproduce. Please send the exact files you are using.

[2020-05-25 10:03] RPM1984 commented on #60
@aliostad thanks for your continued help on this, much appreciated!

yep, the problem is surely on my end. I'll use your example above and work from there. Will report back tomorrow

[2020-05-25 23:28] RPM1984 commented on #60
hi @aliostad , ok i ran your command and it worked fine, then i replaced `some.csv` with the real data, and it failed -> so it must be a problem with it.

Here is a cut down example (my original file has 100 lines, but it still fails with just 1):

[code]
So there's 1 line there -> which is a JSON array. Is it because the line is too long? I put the line into a json editor, and it was fine..

[2020-06-09 22:28] aliostad commented on #60
Sorry for the delay.

The problem is you are telling SuperBenchmarker your file is a CSV. And your data line contains so many commas. Obviously it splits it into so many fields.

Solution
==
Just add `-a` to define your input file as a TSV. Since your file contains a single field, it does not matter but the commas in your data makes it impossible for it to be CSV. Hence just use TSV.

I keep this

[2020-06-09 22:48] RPM1984 commented on #60
hi @aliostad no worries RE delay. makes sense, RE CSV having commas.

Still doesn't work for me with -a option though, using the file I provided above 😞

[2020-06-10 07:36] aliostad commented on #60
I am sorry but that is just impossible to have the same error. Are you
getting a different error now?
Please create a project in github to include files, etc and command line or
just paste them here.

On Tue, 9 Jun 2020 at 23:48, Ryan Miranda <notifications@github.com> wrote:

[2020-06-11 20:43] aliostad commented on #60
If you cannot create a project can you please provide a repro? As I said, it immediately worked as I added `-a` while before that I was seeing the error you described and had to debug it to know.

[2020-06-15 00:49] RPM1984 commented on #60
@aliostad i figured it out. Problem was the `some.txt` template needed a space.

Here's the commands I ran:
![image](https://user-images.githubusercontent.com/930343/84608411-aa8fe900-aef5-11ea-8195-6c49303acb80.png)

Here is `some.txt`:
[code]

When I added a space before the payload, it works:
[code]

So all good now. But might want to add a bit more descriptive error there too? ("Length cannot

[2020-06-15 00:50] #60 closed

[2020-06-15 07:39] aliostad commented on #60
That is explained in the README but I guess needs to be made bold:

![image](https://user-images.githubusercontent.com/487334/84630399-c68a8f00-aee3-11ea-85f3-08a07456fda8.png)

[2020-06-15 08:37] RPM1984 commented on #60
Yep, I see. I don't think it needs to be bold. Just the error messages need to be a bit friendlier.

[2020-10-14 21:58] drdamour opened #61 "Open to specifying proxy"
The -X option is kinda pointless cause it just enables whats already defaulted
HttpRequestHandler’s UseProxy defaults to true https://docs.microsoft.com/en-us/dotnet/api/system.net.http.httpclienthandler.useproxy?view=netcore-3.1#System_Net_Http_HttpClientHandler_UseProxy.
Proxy defaults to null which at execution time ends up meaning using the system proxy / ie proxy anyways.

So -X isnt doing an

[2020-10-15 08:42] aliostad commented on #61
There was a reason I did it, I remember having a problem which was sorted using this.

Feel free to but please create a feature branch - do not send it Master.

Also please add ANOTHER option for custom proxy. Use a word, obviously I have already run out of characters.

[2020-10-16 00:00] drdamour commented on #61
Im very confident its doing nothing as i see request in fiddler when its the system proxy regardless of using -X or not

[2020-10-16 07:40] aliostad commented on #61
Fiddler? Yeah Fiddler is just one scenario.

[2020-10-16 14:36] drdamour commented on #61
Same thing with charles and zscaler. the code as is doing nothing other than replacing true with true.  The defaults use the system proxy if configured.  The purpose of -X in ab is only to specify a proxy different than those defined by HTTPS_PROXY HTTP_PROXY i think its be better to emulate that behvahiour

[2020-10-16 15:13] drdamour commented on #61
hm...maybe the difference between the default and the GetSystemProxy call is that the GetSystemProxy call respects the HTTPS_PROXY like env vars https://github.com/dotnet/runtime/blob/722b8a660e7e0c59419196be102784244883ff08/src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/SystemProxyInfo.Windows.cs (or https://github.com/dotnet/corefx/blob/v3.1.9/src/System.Net.Http/src/System

[2020-11-18 19:39] drdamour commented on #61
got back to testing this and -x doesn't seem to enable HTTPS_PROXY  HTTP_PROXY or ALL_PROXY env vars reading in my tests
![image](https://user-images.githubusercontent.com/1514496/99579134-00802580-299b-11eb-8ce5-470a8ae2c898.png)

not quite sure based on the code why that is...but seems back to same basic request

[2020-11-29 12:38] ZTzangtao opened #62 "the problem of build"
next is log. Please help.Thanks.

Microsoft (R) Test Execution Command Line Tool Version 16.8.0
Copyright (c) Microsoft Corporation.  All rights reserved.

Starting test execution, please wait...
A total of 1 test files matched the specified pattern.
Testhost process exited with error: It was not possible to find any compatible framework version
The framework 'Microsoft.NETCore.App', version '3.0.

[2020-11-30 02:29] ZTzangtao commented on #62
Need I edit addr ？or edit the properties?

[2020-11-30 12:01] aliostad commented on #62
.NET 5.0.0 is not yet supported.

[2020-12-01 12:26] ZTzangtao commented on #62
Oh, respect man~. It's OK, It is not only need .NET Core 2.1 , But also need Version 3.1. Thanks again. This is a very successful open source software.

[2020-12-01 12:52] aliostad commented on #62
Yeah it supports both. Thanks for using it.

[2020-12-01 12:52] #62 closed

[2021-04-15 18:20] zhilbug opened #63 "Test against a custom status"
We use this a lot (thank you) and it works wonderfully.

We currently have and api and always returns a 200 response regardless if the request was actually a success.  They return a object with a separate response that truly determines whether the call was a success or not.

So my question is that if we receive a response header with a 200 and the body contains another status that is a failure, ho

[2021-04-15 18:41] aliostad commented on #63
Hi @zhilbug

It is my humble pleasure to know that you have found this tool useful.
I will add this feature to sb and shall provide progress update.

Cheers

[2021-04-15 22:02] zhilbug commented on #63
That is great news @aliostad! Thank you!

[2021-04-18 19:02] aliostad commented on #63
This has been fixed in the version 4.6.0 of the library. Install this version of `SuperBenchmarker` or `SuperBenchmarkerCore` which supports this feature via plugin.

Check out docs here:
https://github.com/aliostad/SuperBenchmarker#overriding-http-status-iresponsestatusoverride

[2021-04-18 19:02] #63 closed

[2021-04-19 14:39] zhilbug commented on #63
thank you!

[2021-05-25 00:13] ScottBurfieldMills opened #64 "Graph not displaying"
I installed this tool using Chocolately

[code]

After running the benchmark a browser window launches and the graph is displayed empty.

![image](https://user-images.githubusercontent.com/1740387/119421270-71d9d000-bd52-11eb-8bba-12a63e576333.png)

Checking the dev tools finds a missing javascript file

GET file:///C:/Users/scott/2021-05-25_12-09-16.575975/interim.js net::ERR_FILE_NOT_FOUND
d3.js

[2021-05-25 00:32] ScottBurfieldMills commented on #64
I've found that the reason the graph was empty was because I needed to specify `-P` with a lower value (`-P 1`). Still, the missing .js file is possibly an issue.

[2021-05-25 09:09] aliostad commented on #64
Thanks let me look into it.

[2021-06-01 15:10] aliostad commented on #64
Apologies for taking some time to get back to you. I tried it and it looks fine to me.

![image](https://user-images.githubusercontent.com/487334/120330860-2345ac00-c2e5-11eb-90f3-4ff1c7cc654b.png)

I seem to be getting these but does not cause a problem (addon ing a javascript is the  only way to load a json data hence the errors are OK):

![image](https://user-images.githubusercontent.com/487334

[2021-06-01 15:10] #64 closed

[2021-06-30 02:00] Planeswalker23 opened #65 "When execute './build.sh', something goes wrong"
Hello, when I execute './build.sh', something goes wrong. I don't know why. help !!!

Following is Exception stack.

[code]

[2021-06-30 05:39] Planeswalker23 commented on #65
By install 「dotnet-sdk-3.1.x」, finally build SuperBenchMarker successfully.

But here is a new problem: How can i use 'sb' to replace 'dotnet ./src/SuperBenchmarker/bin/Debug/netcoreapp3.1/SuperBenchmarker.dll' in mac?

[2021-06-30 11:05] aliostad commented on #65
Hi, you can use aliases.

alias sb="dotnet ./src/SuperBenchmarker/bin/Debug/netcoreapp3.1/SuperBenchmarker.dll"
sb https://google.com -d

[2021-06-30 11:06] #65 closed

[2021-07-01 03:06] Planeswalker23 commented on #65
Wooooo! Thanks!

[2021-10-21 14:04] florin-szilagyi opened #66 "Allow insecure requests"
something like --insecure to allow for benchmarking when certificate is not valid

[2021-10-21 14:50] aliostad commented on #66
Ah, I thought I already had this, but apparently not. I will add the option to -g which is about SSL with value -1 for ignore cert. Will do this weekend.

[2021-10-21 19:56] aliostad commented on #66
OK, I just tested and it already works since I think I have already done it. For example:

[code]
If you have a problem can you please send a URL that does not work?